<div id="comment-list-{{post_id}}" class="container center">
  {{#each comments}}
  <div class="card comment">
    <p class="left-align grey">{{this.user.username}} commented:</p>
    <p >{{this.comment_content}}</p>
  </div>
  {{/each}}
</div>

{{#if logged_in}}
<section id="comments" class="container">
  <textarea id="comment-content-{{post_id}}" placeholder="Enter your comment" class="white"></textarea>
  <button class="post-comment btn" data-post-id="{{post_id}}">Post Comment</button>
</section>
{{else}}
<p>You must be logged in to post comments.</p>
{{/if}}

